<wrapper class="section" style="background-color:{{ tpl.main_color }};
{% if section.image is defined %} background-image: url({{ section.image }}); background-size: cover{% endif %}">
    <spacer size="16"></spacer>
    <row>
        <columns></columns>
        <columns class="text-center">
                <h2 class="text-center no-margin">{{ section.title }}</h2>
                <hr align="center"
                    style="width:100px; margin:0 auto; background-color:{{ tpl.main_color }}; color:{{ tpl.main_color }}; height: 2px; border: 0 none;"/>
        </columns>
        <columns></columns>
    </row>
    <row>
        <columns class="text-center">
            <p class="text-center no-margin">{{ section.description | raw | nl2br }}</p>
        </columns>
    </row>
    {% if tpl.base_slack_url is defined %}
        <row>
            <columns></columns>
            <columns small="2" >
                <p class="text-right"><small>
                    <a href="{{ tpl.base_slack_url }}/messages/{{ section.link }}">{{ 'app.join_chanel' | trans }}</a>
                </small></p>
            </columns>
        </row>
    {% endif %}
</wrapper>
{% for article in section.messages %}
    {% include 'newsletter/article.html.twig' with {'article' : article, 'tpl' : tpl} only %}
{% endfor %}
{% if section.topContributors is defined %}
    {% include 'newsletter/contributor.html.twig' with {'contributors' : section.topContributors, 'tpl' : tpl} only %}
{% endif %}
